#li_user {
  font-size: 30px;
  list-style: none;
  border-top: 2px solid #f5870a;
}

#profilo {
  background-color: #ba2626;
  padding: 30px;
  width: 80%;
  margin: 100px auto;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}

#user {
  margin-left: 30px;
  color: #f6f6f6;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

#nomeCognome {
  text-align: center;
  color: #f6f6f6;
  font-family: 'Raleway', sans-serif;
  border-bottom: 5px solid #f5870a;
  margin-bottom: 50px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

#btnRemove {
  background-color: #f5870a;
  color: #f6f6f6;
  float: right;
  border: none;
  font-family: 'Raleway', sans-serif;
  transition: all .3s;
}

#btnRemove:hover {
  background-color: #f6f6f6;
  color: #f5870a;
}

.spanUser {
  float: right;
  font-family: 'Raleway', sans-serif;
  margin-right: 30px;
  font-weight: bold;
  color:white;
}

input#passwordUser {
  background: transparent;
  border: none;
  float: right;
  color: #f6f6f6;
  padding: 0;
  width: 100px;
}

#btnModifica{
  background-color: #f5870a;
  color: #f6f6f6;
  float: right;
  border: none;
  font-family: 'Raleway', sans-serif;
  transition: all .3s;
  font-size: 15px;
  padding: 12px;
  text-transform: uppercase;
}
#btnModifica:hover{
  background-color: #f6f6f6;
  color: #f5870a;
}

